.projects {
    padding: 20px 30px;
}

.projects h3 {
    margin-bottom: 30px;
}

.project-btn:hover {
    opacity: 0.8;
}

.project-btn a:hover {
    color: #000;
}

.project-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-thumbnail {
    width: 100px;
    height: 60px;
    border-radius: 6px;
    object-fit: cover;
}

.projects-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
