:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.light {
    color: #000 !important;
    background-color: #fff !important;
}

.dark {
    color: #fff !important;
    background-color: #000 !important;
}

.slick-slider .slick-track {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}

.slick-next,
.slick-prev {
    color: #fd8d14;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 100%;
    z-index: 10;
    width: 60px;
    height: 60px;
}

.slick-next {
    right: 60px;
}

.slick-prev {
    left: 60px;
}

.slick-next:hover,
.slick-prev:hover {
    color: #fd8d14;
    background-color: rgba(255, 255, 255, 0.6);
}
