:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.light {
    color: #000 !important;
    background-color: #fff !important;
}

.dark {
    color: #fff !important;
    background-color: #000 !important;
}
